@import "tailwindcss";

@theme {
	--color-text: #f0f0f0;
	--color-background: #0f0f0f;
	--color-primary: #f0f0f0;
	--color-secondary: #f0f0f0;
	--color-tertiary: #3c3c3c;
	--color-accent: #eb8443;
	--color-crate: #2787F7;

	--width-container: 768px;
	--width-container-mobile: 368px;

	--font-poppins: "Poppins", "sans-serif";
}

html {
	background-color: var(--color-background);
}

body {
	background-color: var(--color-background);
}

